<h1>Add Team</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    {{#link-to "quarters" session.organisation}}<span class="glyphicon glyphicon-home"></span> All Quarters{{/link-to}} > {{#link-to 'objectives' session.organisation quarter.id}}{{quarter.year}} Q{{quarter.quarter}}{{/link-to}} > {{#link-to 'teams' session.organisation quarter.id}}All Teams{{/link-to}} > New Team
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
     <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-9">
          {{focus-input class="form-control" id="inputName" placeholder="Enter team name" value=name}}
        </div>
        {{#if errors.name}} <div class="col-sm-1 invalid" data-toggle="tooltip" {{bind-attr title="nameErrors"}}></div> {{/if}}
      </div>
      <div class="form-group">
        <label for="inputShortCode" class="col-sm-2 control-label">Short Code</label>
        <div class="col-sm-9">
          {{input class="form-control" id="inputShortCode" placeholder="Enter short code e.g. BUSI" value=shortCode}}
        </div>
        {{#if errors.shortCode}} <div class="col-sm-1 invalid" data-toggle="tooltip" {{bind-attr title="shortCodeErrors"}}></div> {{/if}}
      </div>
      <div class="form-group">
        <label for="inputTechLead" class="col-sm-2 control-label">Technology Manager</label>
        <div class="col-sm-9">
          {{input class="form-control" id="inputTechLead" placeholder="Enter the name of the Technology Manager" value=techLead}}
        </div>
      </div>
      <div class="form-group">
        <label for="inputProductManager" class="col-sm-2 control-label">Product Manager</label>
        <div class="col-sm-9">
          {{input class="form-control" id="inputProductManager" placeholder="Enter the name of the Product Manager" value=productManager}}
        </div>
      </div>
      <div class="form-group">
        <label for="inputUXDesigner" class="col-sm-2 control-label">UX Designer</label>
        <div class="col-sm-9">
          {{input class="form-control" id="inputUXDesigner" placeholder="Enter the name of the UX Designer" value=uxDesigner}}
        </div>
      </div>
      <div class="form-group">
        <label for="inputProgrammeManager" class="col-sm-2 control-label">Programme Manager</label>
        <div class="col-sm-9">
          {{input class="form-control" id="inputProgrammeManager" placeholder="Enter the name of the Programme Manager" value=programmeManager}}
        </div>
      </div>
      {{#if isValid}} 
      <button type="submit" class="btn btn-primary" {{action "saveTeam"}}>Save Team</button>
      {{else}}
      <button type="submit" class="btn btn-primary disabled">Save Team</button>
      {{/if}}
      <button type="button" class="btn" {{action "discardTeam"}}>Discard Changes</button>
    </form>
  </div>
</div>
{{outlet}}
