<h1>Add Team to Key Result</h1>
<div class="panel panel-default">
  <div class="panel-heading">
  {{#link-to 'quarters' session.organisation}}<span class="glyphicon glyphicon-home"></span> All Quarters{{/link-to}} > {{#link-to 'objectives' session.organisation keyResult.quarter.id}}{{keyResult.quarter.year}} Q{{keyResult.quarter.quarter}}{{/link-to}} > {{#link-to 'keyResult' session.organisation keyResult.quarter.id keyResult.id}}{{keyResult.name}}{{/link-to}} > Add Key Result for Team
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
     <div class="form-group">
        <label for="inputKeyResult" class="col-sm-2 control-label">Key Result</label>
        <div class="col-sm-9">
          {{input type="text" class="form-control" id="inputKeyResult" value=keyResult.name disabled="disabled"}}
        </div>
      </div>
      <div class="form-group">
        <label for="inputTeam" class="col-sm-2 control-label">Team</label>
        <div class="col-sm-9">
         {{view "select"
           contentBinding="controller.teams"
           optionValuePath="content.id"
           optionLabelPath="content.name"
           selectionBinding="team.content"
           prompt="Please select a team ..."
           classNames="form-control"}}
       </div>
       {{#unless team.id}} <div class="col-sm-1 invalid"></div> {{/unless}}
     </div>
     <div class="form-group">
        <label for="inputRole" class="col-sm-2 control-label">Role</label>
        <div class="col-sm-9">
          {{view "select"
            content=controllers.application.teamRole
            selection=role
            prompt="Please select a team role ..."
            classNames="form-control"}}
        </div>
        {{#if errors.role}} <div class="col-sm-1 invalid" data-toggle="tooltip" {{bind-attr title="roleErrors"}}></div> {{/if}}
      </div>
      <div class="form-group">
        <label for="inputPriority" class="col-sm-2 control-label">Priority</label>
        <div class="col-sm-9">
          {{input class="form-control" id="inputPriority" placeholder="Enter the rough priority for this OKR for this team - this can be changed later" value=priority}}
        </div>
        {{#if errors.priority}} <div class="col-sm-1 invalid" data-toggle="tooltip" {{bind-attr title="priorityErrors"}}></div> {{/if}}
      </div>
      {{#if isValid}} 
      <button type="submit" class="btn btn-primary" {{action "saveTeamKeyResult"}}>Save Key Result for Team</button>
      {{else}}
      <button type="submit" class="btn btn-primary disabled">Save Key Result for Team</button>
      {{/if}}
      <button type="button" class="btn" {{action "discardTeamKeyResult"}}>Discard Changes</button>
    </form>
  </div>
</div>
{{outlet}}
