<h1>Key Result Update: {{keyResult.objective.name}} {{keyResult.name}}</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <span>{{#link-to 'quarters' session.organisation}}<span class="glyphicon glyphicon-home"></span> All Quarters{{/link-to}} > {{#link-to 'objectives' session.organisation keyResult.quarter.id}}{{keyResult.quarter.year}} Q{{keyResult.quarter.quarter}}{{/link-to}} > {{#link-to 'keyResult' session.organisation keyResult.quarter.id keyResult.id}}{{keyResult.objective.name}}: {{keyResult.name}}{{/link-to}} > Update</span>
  </div>

  <div class="panel-body">
    <div class="alert alert-warning">Key Result Updates should be used by programme managers to update the rest of the organisation on the progress of an overall Key Result.  They can use the deliverable updates for all of the KR's deliverables, provided by technology managers, to guide them.<br>All of the values below apart from the update date have been pre-populated with the values from the previous status update for reference. Please change them to the appropriate values for this update.</div>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputUpdateDate" class="col-sm-2 control-label">Update Date</label>
        <div class="col-sm-9">
          {{input type="date" class="form-control" id="inputUpdateDate" value=updateDateISO}}
        </div>
        {{#if errors.updateDateISO}} <div class="col-sm-1 invalid"></div> {{/if}}
      </div>
      <div class="form-group">
        <label for="inputRAG" class="col-sm-2 control-label">RAG</label>
        <div class="col-sm-9">
        {{view "select"
          content=controllers.application.rag
          selection=rag
          prompt="Please select a Red Amber Green state ..."
          classNames="form-control"}}
        </div>
        {{#if errors.rag}} <div class="col-sm-1 invalid" data-toggle="tooltip" {{bind-attr title="ragErrors"}}></div> {{/if}}
      </div>
      <div class="form-group">
        <label for="inputStatus" class="col-sm-2 control-label">Status</label>
        <div class="col-sm-9">
        {{view "select"
          content=controllers.application.status
          selection=status
          prompt="Please select a status ..."
          classNames="form-control"}}
        </div>
        {{#if errors.status}} <div class="col-sm-1 invalid" data-toggle="tooltip" {{bind-attr title="statusErrors"}}></div> {{/if}}
      </div>
      <div class="form-group">
        <label for="inputCompletionHorizon" class="col-sm-2 control-label">Completion Horizon (weeks)</label>
        <div class="col-sm-9">
          {{input type="text" class="form-control" id="inputCompletionHorizon" placeholder="Enter completion horizon in weeks" value=completionHorizon}}
        </div>
        {{#if errors.completionHorizon}} <div class="col-sm-1 invalid" data-toggle="tooltip" {{bind-attr title="completionHorizonErrors"}}></div> {{/if}}
      </div>
      <div class="form-group">
        <label for="inputCommentary" class="col-sm-2 control-label">Commentary</label>
        <div class="col-sm-9">
          {{textarea class="form-control" rows="6" id="inputCommentary" placeholder="Enter descriptive comment for this update" value=commentary}}
        </div>
        {{#if errors.commentary}} <div class="col-sm-1 invalid" data-toggle="tooltip" {{bind-attr title="commentaryErrors"}}></div> {{/if}}
      </div>
      {{#if isValid}} 
      <button type="submit" class="btn btn-primary" {{action "saveKeyResultUpdate"}}>Save Status Update</button>
      {{else}}
      <button type="submit" class="btn btn-primary disabled">Save Status Update</button>
      {{/if}}
      {{#if id}}
      <button type="button" class="btn btn-warning" {{action "archiveKeyResultUpdate"}}>Archive Status Update</button>
      <button type="button" class="btn" {{action "discardKeyResultUpdate"}}>Discard Changes</button>
      {{else}}
      <button type="button" class="btn" {{action "discardNewKeyResultUpdate"}}>Discard Changes</button>
      {{/if}}
      <button type="button" class="btn" {{action "copyRICommentary"}}>Copy commentary from the latest updates of all child deliverables</button>
    </form>
  </div>
</div>
{{outlet}}
