<h1>Objectives & Key Results for {{session.organisation_name}} in {{year}} Q{{quarter}}
{{#if (can "add keyResult")}}{{#link-to "addKeyResult" session.organisation id 0 class="btn btn-default btnAction pull-right printHide"}}<span class="glyphicon glyphicon-plus"></span> Add Key Result{{/link-to}}{{/if}}
</h1>
<div class="panel panel-default">
  <div class="panel-heading printHide">
    {{#link-to "quarters" session.organisation}}<span class="glyphicon glyphicon-home"></span> All Quarters{{/link-to}} > {{year}} Q{{quarter}}
    {{#if (can "edit quarter")}}<a data-toggle="collapse" data-parent="#accordion" href="#collapseQuarter" class="pull-right printHide"> <span class="glyphicon glyphicon-edit"></span> Edit Quarter</a>{{/if}}
  </div>
  <div id="collapseQuarter" class="panel-collapse collapse">
    {{view 'editQuarter'}}
  </div>
</div>
{{outlet}}
