<h1>Users</h1>
<div class="panel panel-default">
  <div class="panel-heading">{{#link-to "quarters" session.organisation}}<span class="glyphicon glyphicon-home"></span> All Quarters{{/link-to}} > Users
    {{#if (can "view users")}}<span class="pull-right">{{#link-to 'add-user'}}<span class="glyphicon glyphicon-plus"></span> Add User{{/link-to}}</span>{{/if}}
  </div>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Organisation</th>
      <th>Given Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Team</th>
      <th>Role</th>
      <th>Staff Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each user in sortedUsers}}
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.organisation.name}}</td>
        <td>{{user.givenName}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.name}}</td>
        <td>{{user.team.name}}</td>
        <td>{{user.role.name}}</td>
        <td>{{user.staffNumber}}</td>
        <td>{{#link-to 'user' user.id class="btn btn-default btnAction" tagName="button" data-toggle="tooltip" title="Edit User"}}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{outlet}}
